<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/connexion.css">
  <title>Inscription</title>
</head>
<body>
<nav class="nav">
  <div class="navbar">
    <div class="logo">
      <a href="/historique">
        <p>NITA</p>
          <p>transfert d'argent</p>
      </a>
    </div>
    <div class="main_list" id="mainListDiv">
      <ul>
        <li><a href="/historique">Accueil</a></li>
        <li><a href="/">A propos</a></li>
        <li><a href="/inscription">Inscription</a></li>
      </ul>
    </div>
    <div class="media_button">
      <button class="main_media_button" id="mediaButton">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
</nav>

  <div class="container">
    <div class="text">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, eum.</p>
    </div>
    <div class="formulaire">
      <!-- <header>
        <h1>
          <a href="#">
            <img src="http://tfgms.com/sandbox/dailyui/logo-1.png" alt="Authentic Collection">
          </a>
        </h1>
      </header> -->
      <% if (typeof alerte !="undefined" && alerte.message) { %>
        <div class="validation">
          <%= alerte.message %> <br>
        </div>
      <% }%>
      <% if (typeof alert !="undefined" && alert.nom) { %>
        <div class="validation">
          <%= alert.nom.msg %> <br>
        </div>
      <% }%>

      <% if (typeof alert !="undefined" && alert.prenom) { %>
        <div class="validation">
          <%= alert.prenom.msg %> <br>
        </div>
      <% }%>

      <% if (typeof alert !="undefined" && alert.email) { %>
        <div class="validation">
          <%= alert.email.msg %> <br>
        </div>
      <% }%>

      <% if (typeof alert !="undefined" && alert.numero) { %>
        <div class="validation">
          <%= alert.numero.msg %> <br>
        </div>
      <% }%>

      <% if (typeof alert !="undefined" && alert.password) { %>
        <div class="validation">
          <%= alert.password.msg %> <br>
        </div>
      <% }%>
      <h1 class="text-center">Register</h1>
      <form class="registration-form" method="post" action="/inscription">
        <label class="col-one-half">
          <span class="label-text">Nom</span>
          <input type="text" name="nom">
        </label>
        <label class="col-one-half">
          <span class="label-text">Prenom</span>
          <input type="text" name="prenom">
        </label>
        <label>
          <span class="label-text">Adresse Email</span>
          <input type="text" name="email">
        </label>
        <label>
          <span class="label-text">Téléphone</span>
          <input type="tel" name="numero">
        </label>
        <label class="password">
          <span class="label-text">Mot de passe</span>
          <button class="toggle-visibility" title="toggle password visibility" tabindex="-1">
            <span class="glyphicon glyphicon-eye-close"></span>
          </button>
          <input type="password" name="password">
        </label>
        <div class="text-center">
          <button class="submit" >S'inscrir</button>
        </div>
      </form>
    </div>

  </div>


  <script src="/javascripts/app.js"></script>
</body>
</html>
