<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/depot.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="nav">
            <div class="nav-content">
                <div class="logo">
                    <a href="/">YourLogo</a>
                </div>
                <div class="main_list" id="mainListDiv">
                    <ul>
                        <li><a href="/">A propos</a></li>
                        <% if (typeof data !="undefined" && data.nom) { %>
                        <li><a href="#"> <%= data.nom %> </a></li>   
                          <% }%>
                          <li onclick="logout()"><a href="/logout" >deconnecter</a></li>
                    </ul>
                </div>
                <div class="media_button">
                    <button class="main_media_button" id="mediaButton">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <% if (success =='') { %>
            <div class="noresult">
              <p>Ce numéro n'est pas lié à compte ou a été mal saisi. 
                Donc veillez bien  vérifié le numéro et réesayer en 
                cliquant sur ce boutton 
            </p>
            <a href="/depot">Essayer à nouveau</a>
            </div>
        <% } else if (success ){%>
            <% success.forEach(function(compte){ %>
        <div class="info">
            <div class="solde">
                <p><%= compte.solde %> F CFA</p>
            </div>
            <div id="contenu">
                <p class="un">Numéro: </p>
                <p class="deux"><%= compte.user_numero %></p>
            </div>
        </div>

        <div class="content">
            <form action="/depot/valider" method="post" class="formulaire">
                <input type="hidden" name="id" value="<%= compte.id%>" >
                <input type="hidden" name="solde" value="<%= compte.solde%>" >
                <input type="tel" name="montant" placeholder="Montant dépot">
                <% if (typeof alert !="undefined" && alert.montant) { %>
                    <div class="validation">
                        <p>
                            <%= alert.montant.msg %>
                        </p>
                    </div>
                    <% }%>
                <input type="hidden" name="numero" value="<%= compte.user_numero%>"  >
                <input type="hidden" name="createAt" value="<%= compte.createAt%>" >
                <input type="hidden" name="type_transaction" value="depot">
                <input type="hidden" name="numero_user" value="KIONOU COMMUNICATION">
                <button>Envoyer</button>
            </form>
        </div>
        <% }); %>
        <% } %>
      
      
    </div>

</body>
</html>