<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/historique.css">
    <title>Historique</title>
</head>
<body>
    <nav class="nav">
        <div class="navbar">
            <% if (typeof data !="undefined" && (data.nom || data.prenom )) { %>
            <div class="logo">
                <a href="/historique">
                    <p>NITA</p>
          <p>transfert d'argent</p>
                </a>
            </div>
            <div class="Image">
                <div class="image">
                    <img src="/images/PngItem.png" alt="">
                </div>
                <p> <%= data.nom %> </p>
            </div>
            <div class="main_list" id="mainListDiv">
                <ul>
                    <li class="images">
                        <div class="image">
                            <img src="/images/PngItem.png" alt="">
                        </div>
                        <p> <%= data.nom %>   <%= data.prenom %> </p>
                       
                    </li>
                    <li><a href="#">A propos</a></li>
                    <li onclick="logout()"><a href="/logout">deconnecter</a></li>
                </ul>
            </div>
            <div class="media_button">
                <button class="main_media_button" id="mediaButton">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
            <% }%>
        </div>
    </nav>

    <div class="container">
       <div class="content">
        <div class="historique">
            <div class="transfert">
                <a href="/transfert" class="btndetail">Effectuez un transfert</a>
            </div>
            <% if (transfert =='') { %>
                <div class="noresult">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Sequi autem quis ipsa fugiat delectus deserunt maxime 
                    odio minima, aspernatur magnam.

                  </p>
                </div>
            <% } else if (transfert ){%>
                <% transfert.forEach(function(transfert){ %>
            <div class="contenu">
                <div class="detail">
                    <% if (transfert.type_transaction !='transfert' ) { %>
                    <p><%= transfert. type_transaction %></p>

                  <% } else if (typeof data !="undefined" && data.numero ){%>
                    <p><%= transfert. nom_transfert %> <%= transfert. numero_user %> </p>
                     <% } %>
                    <span class="date"> </span>
                    <input type="hidden" name="" id="input" value=" <%= transfert. createAt %>">
                    
                </div>
                <div class="prix">
                    <p> <%= transfert. montant_recu %>F CFA</p>
                    <a href="/detail/<%= transfert.id%>">Détail</a>
                </div>
            </div>
            <% }); %>
            <% } %>
                <!-- <div class="contenu">
                    <div class="detail">
                        <p>Addd</p>
                        <span>28 janvier 2022,21:33</span>
                    </div>
                    <div class="prix">
                        <p>1000000 F FCFA</p>
                        <a href="#">Détail</a>
                    </div>
                </div> -->
        </div>
        <div class="infouser">

            <% if (compte =='') { %>
                <div class="noresult">
                  <p>Aucun resultat trouvé(s) !</p>
                </div>
            <% } else if (compte ){%>
                <% compte.forEach(function(compte){ %>
                    <div class="solde">
                        <p id="solde"><%= compte.solde %></p><p>F CFA</p>
                    </div>
                    <div id="contenu">
                        <p class="un">Numéro: </p>
                        <p class="deux"><%= compte.user_numero %></p>
                    </div>

                    <% }); %>
                    <% } %>

            <% if (user =='') { %>
                <div class="noresult">
                  <p>Aucun resultat trouvé(s) !</p>
                </div>
            <% } else if (user ){%>
                <% user.forEach(function(user){ %>
            <div id="contenu">
                <p class="un">Nom: </p>
                <p class="deux"><%= user.nom %></p>
            </div>
            <div id="contenu">
                <p class="un">Prenom: </p>
                <p class="deux"><%= user.prenom %></p>
            </div>
            <div id="contenu">
                <p class="un">Email: </p>
                <p class="deux"><%= user.email %></p>
            </div>
            <% }); %>
            <% } %>
        </div>
       </div>
    </div>
  <script src="/javascripts/app.js"></script>
</body>
</html>